.env

.vscode

venv/

# Ignorar tudo dentro de qualquer pasta "migrations" em qualquer app
**/migrations/*

# Exceto o arquivo __init__.py de cada pasta "migrations"
!**/migrations/__init__.py

config/db.sqlite3